*body{
    font-family: sans-serif;
    color: white;
}
ul{
    color: white;
}
li.firts-nav{
    padding: 30px;
    
}
.first-nav{
    padding: 15px;
    border-bottom: 2px solid green;
}
#search-form{
    height: 50px;
}
.third-row{
    background-color: rgb(32, 85, 103);
    height: 100px;
    padding: 25px;
    font-size: large;
    word-spacing: 10px;
    letter-spacing: 0.2em;
}
.third-row img{
    padding: 10px;
}
.header-flex{
    display: flex;
    justify-content: space-between;
    color: white;
}
.header-flex a{
    color: white;
}
.first-gifs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
}
.first-gifs img{
    width: 90%;
    padding: 0px;
}
.artist-gifs img{
    width: 90%;
    padding: 0px;
    height: 200px;

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.trending-gif img{
    width: 100px;
    height: 100px;
}
span.raquo{
    width: 5px;
}
/* .artist-flex{
    display: flex;
    flex-direction: row;
} */